<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />
    <title>{{ title }} - {{ site.name }}</title>
    <link rel="stylesheet" href="/assets/css/pico.css">
</head>

<body>
    {% include 'nav' %}
    <main class="container">
        {% include 'pagination' %}
        <h1>{{ title | capitalize }}</h1>
        <blockquote>{{ description | capitalize }}</blockquote>
        {% if version %}
        <p>Documentation: <a href="https://liquidjs.com/filters/{{ title }}.html" target="_blank">LiquidJS</a> | <a href="https://shopify.github.io/liquid/filters/{{ title }}/" target="_blank">Shopify</a> | <a href="https://shopify.dev/docs/api/liquid/filters/{{ title }}" target="_blank">Shopify.dev</a> - Version: {{ version }} {% if works %}(it works){% else %}(it does not work){% endif %}</p>
        {% endif %}
        {{ content }}
    </main>
    {% include 'footer' %}
</body>

</html>