---
title: Liquid Elements
description: List of LiquidJS elements.
layout: base
tags: primary
---
{% for items in liquid %}
  <h2>{{ items.category | capitalize }}</h2>
  <p>{{ items.categoryDescription }}</p>
    {% for cat in items.subcategory %}
      <h3>{{ cat.subcategoryName | capitalize }}</h3>
      <p>{{ cat.subcategoryDescription }}{% if cat.example %}
    <br>Example: <code>{{ cat.example }}</code>{% endif %}</p>
      <ul>
        {% for subcat in cat.elements %}
          <li><strong><a href="../filters/{{ cat.subcategoryName }}/{{ subcat.elementName }}">{{ subcat.elementName }}</a></strong>: {{ subcat.elementDescription }}
          <a href="https://liquidjs.com/filters/{{ subcat.elementName }}.html">LiquidJS doc</a> (v{{ subcat.version }})</li>
        {% endfor %}
      </ul>
    {% endfor %}
{% endfor %}